# Documentation for .gitignore
# https://git-scm.com/docs/gitignore
/*
!/hw*/
/hw*/*
!/hw*/*/
/hw*/*/*
!/hw*/*.cc
!/hw*/*.h
!/hw*/*Makefile
!/hw*/*.md
!/hw*/*.ipynb

!/hw*/*/*.cc
!/hw*/*/*.h
!/hw*/*/*Makefile
!/hw*/*/*.md
